**.DS_Store

Applications/
Desktop/
Documents/
Downloads/

bin/
sbin/

ssh/
tls/
gpg/

img/

build/optional/
cluster/

conf/cloudinit/
conf/profile.d/
conf/core.json
conf/snapcraft.yaml

linux/
macos/
pkg/

qemu/config.sh
qemu/interfaces

ipam
